@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");

:root {
  --background: #f0e2cf;
  --text: #977657;
  --principal: #367c2b;
  --red: #d20019;
  --hover-principal: #5fb852;
  --white: #f3f3f3;
  --hover-white: #e2e1e1;
}

@keyframes animateFromCenter {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes animateMain {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-span {
  animation: animateFromCenter 1s ease-in-out;
}
.animate-image {
  animation: animateFromCenter 1s ease-in-out;
}
.animate-main {
  animation: animateMain 0.5s ease-in-out;
}
